# Python virtual environment
venv/

# Python bytecode
*.pyc
__pycache__/

# Django migrations
server/**/migrations/
!server/**/migrations/__init__.py  # keep __init__.py for Django

# Database
db.sqlite3
server/db.sqlite3

# Node modules
client/node_modules/

# OS files
.DS_Store